<link rel=" stylesheet" href="~/css/Register.css">
<section class="login-panel">
    <div class="left-side"></div>
    <div class="right-side">
        <h1>Sign Up</h1>
         <form action="/Home/Register" method="post"> 
        <input type="text" name="username"  placeholder="Name">
        <input type="password" name="password"  placeholder="Password">
        <input type="submit" value="let's go" class="submit-btn">
        </form>
    </div>
</section>